[Desktop Entry]
Name=MasterSDR
Comment=Linux-native SDR client for FlexRadio
Exec=MasterSDR
Icon=mastersdr
Type=Application
Categories=HamRadio;Audio;
Terminal=false
StartupWMClass=MasterSDR
